/* Alphabet - main section of page */

.letter-container {
  height: 85vh;
  padding: 20px;
  text-align: center;
}

/* letterform */

.Letterform {
  padding-right: 5px;
  font-size: 150px;
}

.lowercase {
  font-size: 75px;
}

/* drawing */

/* word - drawing description */

.word {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 25px;
}
