/* Alphabet - main section of page */

.letter-container {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* letterform */

.Letterform {
  padding-right: 5px;
  font-size: 150px;
}

.lowercase {
  font-size: 75px;
}

/* drawing */

.drawing-word-container {
  text-align: center;
}

/* word - drawing description */

.word {
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 25px;
}

svg.drawing {
  width: 90%;
}
